:root {
    --main-color: rgb(255, 250, 236);
    --sec-color: rgb(245, 236, 213);
    --text-color: rgb(61, 61, 61);
    --text-accent-color: rgb(255, 250, 236);
    --accent-color: rgb(58, 57, 96);
}

.lightmode {
    --main-color: rgb(238, 238, 238);
    --sec-color: rgb(208, 209, 210);
    --text-color: rgb(34, 40, 49);
    --text-accent-color: rgb(34, 40, 49);
    --accent-color: rgb(208, 209, 210);
}

.darkmode {
    --main-color: rgb(34, 40, 49);
    --sec-color: rgb(57, 62, 70);
    --text-color: rgb(238, 238, 238);
    --text-accent-color: rgb(238, 238, 238);
    --accent-color: rgb(57, 62, 70);
}

body {
    background-color: var(--main-color);
}

h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 40px;
}

h2 /*Javascript header*/ {
    clear: both;
    color: var(--text-accent-color);
    background-color: var(--accent-color);
    font-size: 30px;
    padding: 2%;
    height: 30px;
}

a {
    color: var(--text-accent-color);
  }

#projLinks {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
}

#projLinks:hover {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 20px;
    color: var(--text-color);
  }

.bodyText {
    color: var(--text-color);
}

.projList {
    clear: both;
    color: var(--text-color);
    width: auto;
    height: auto;
    padding: 2%;
}

.wrapper {
    margin: auto;
    display: flex;
}

img {
    background-color: var(--sec-color);
    width: auto;
    height: 500px;
}

.block1 {
    color: var(--text-color);
    background-color: var(--sec-color);
    width: 50%;
    height: auto;
    font-size: 20px;
    line-height: 2.0;
    padding: 2%;
}

.block2 {
    color: var(--text-accent-color);
    background-color: var(--accent-color);
    width: 50%;
    height: auto;  
    font-size: 20px;
    line-height: 2.0;
    padding: 2%;
}

.miniPic img {
    background-color: var(--accent-color);
    width: auto;
    height: 500px;
}

footer {
    background-color: var(--accent-color);
    color: var(--text-accent-color);
    clear: both;
    margin: auto;
    display: flex;
    justify-content: left;
}

button {
    padding: 10px 20px;
    margin: 5px;
}

.fRow1 {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    font-size: auto;
    padding: 10px;
}

.fRow2 {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    font-size: auto;
    padding: 10px;
}

.calcBlock {
    color: var(--text-color);
    background-color: var(--sec-color);
    width: 200px;
    height: 200px;
    font-size: auto;
    padding: 20px;
    display: flex;
    justify-content: left;
}

.ansBlock {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--sec-color);
    width: 200px;
    height: 50px;
    font-size: auto;
    padding: 20px;
    display: flex;
    justify-content: left;
    text-indent: 5px;
}

.calcImg img {
    width: 300px;
    height: 250px;
    padding: 30px;
    display: flex;
    margin-left: 150px;
}